# Learn more about services, parameters and containers at
# http://symfony.com/doc/current/book/service_container.html
parameters:
#    parameter_name: value

services:
    app.registration.success:
            class: UserBundle\EventListener\RegistrationListener
            arguments: [@router, @service_container, @fos_user.util.token_generator, @fos_user.mailer]
            tags:
                - { name: kernel.event_subscriber }
    app.registration.confirm:
            class: UserBundle\EventListener\ConfirmationListener
            arguments: [@router]
            tags:
                - { name: kernel.event_subscriber }

