{% extends "base.html.twig" %}
<div class="container">
    <div id="loginbox" style="margin-top:50px;" class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2">
        <div class="panel panel-info">
            <div class="panel-heading">
                <div class="panel-title">Пожалуйста, проверьте ваш почтовый ящик</div>
            </div>
            <div style="padding-top:30px" class="panel-body">
                Пожалуйста, проверьте ваш почтовый ящик

                На ваш e-mail адрес было отправлено сообщение. Прежде чем вы его получите, может пройти несколько минут. Нажмите на ссылку активации для верификации вашего аккаунта!

                Вы не получили e-mail?

                Подождите несколько минут.
                Проверьте папку спама в вашем почтовом ящике.
                Все еще не получили e-mail? Отправить ссылку активации снова ›
                Всё равно ничего не получается? Отправьте нам письмо на support.ru@tradimo.com с указанием своего имени пользователя и темой "Активировать счёт на tradimo".
                Проблемы или вопросы?

                Если вы не уверены, как действовать дальше, обратитесь в нашу службу поддержки по адресу: <> Мы будем рады вам помочь!
            </div>
        </div>
    </div>
</div>


